<%= form_for(@user, :html => {:id => 'user', :name => 'user_form', :onsubmit => "return validate_email();"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
       <% @user.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
      </ul>
    </div>
  <% end %>
  <center>
    <table>
      <tr>
         <div class="field">
           <td><b><%= f.label :login_name %></b></td><td><%= f.text_field :login_name %></td>
        </div>
      </tr>
      <tr>
         <div class="field">
           <td><b><%= f.label :login_password %></b></td><td><%= f.text_field :login_password %></td>
         </div>
      </tr>
      <tr>
         <div class="field">
           <td><b><%= f.label :first_name %></b></td></td><td><%= f.text_field :first_name %></td>
         </div>
      </tr>
      <tr>
        <div class="field">
           <td><b><%= f.label :last_name %></b></td><td><%= f.text_field :last_name %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
           <td><b><%= f.label :login_role %></b></td><td><%= f.text_field :login_role %>
        </div>
        </tr>
      <tr>
        <div class="field">
           <td><b><%= f.label :email_id %></b></td><td><%= f.text_field :email_id, :id =>'mail' %></td>
        </div>
      </tr>
      <tr><td></td><td></td></tr>
      <tr>
        <div class="actions">
          <td><b><%= f.submit %></b></td><td></td>
        </div>
      </tr>
  </table>
 </center>
<% end %>
