<%= form_for :photo, :url => album_photos_path(@album,@photo),:html => { :multipart => true } do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <center><h2>UPLOAD PHOTO IN <%= ((@photo.album).album_name).upcase %> ALBUM</h2></center>
  <br><br>
  <%= f.hidden_field :album_id %>

   <input type="file" name="photo[image][]" id="attachment" onchange="document.getElementById('moreUploadsLink').style.display = 'block';" />
   <div id="moreUploads"></div><br><br>
   <div id="moreUploadsLink" style="display:none;">
   <a href="javascript:addFileInput();">Attach another File</a></div>


  <div class="actions"><br><br>
  <%= f.submit :UPLOAD %>
  </div>
<% end %>
